body {
background-color: bisque;
font-size: 16px;
}

#header-nav {
    background-color: coral;
    border: 0;
    border-radius: 0;
   
    
}
#header-nav span {
    font-size: 3em;
    color: burlywood;
    font-family: 'Allison', cursive;
    text-shadow:  1px 1px 1px #222;
    font-weight: bold;
   }

#nav-list{
    color: burlywood;
    text-align: center;
    test-shadow:1px 1px 1px #223
}
#collapsable-nav{
    height: 91px;
    background-color: maroon;
}
#nav-list a{
    color: burlywood;
}
 
#nav-list a:hover {
    color: cornsilk;
    font-size: 1.3em;
}
div #collapsable-nav {
    background-color: black;
}
#coloane{
    margin: auto
}
#Menu {
    font-weight: bold;
    color: maroon;
    font-size: 2em;
    margin-bottom: 30px;
}

.col-md-4 {
    color: white;
    background-color: maroon;
    margin-top: 20px;
    border-radius: 2px;
    border: 20px solid bisque;
    padding: 10px;

    
}
.col-md-4 p{
    font-size: 1.5em;
    font-weight: bold;
}

    

#Back a{
    color: maroon;
}

#Back a:hover{
    font-size: 1.3em;
}

button{
    
}